mixin mediumRestaurantCard(id, name, price, address, phone, image_url)
    div(class="card mediumCard")
        div(class="row no-gutters")
            div(class="col-sm-5 mediumCard__img-container")
                img(class="card-img mediumCard__img" src=`${image_url}` alt="Restaurant Image")
            div(class="col-sm-7")
                div(class="card-body mediumCard__body")
                    h5(class="card-title mediumCard__title")= name
                    div(class="card-details-list mediumCard__details")
                        p(class="card-text card-detail")= price 
                        p(class="card-text card-detail")= address 
                        p(class="card-text card-detail")= phone
        a(href=`/restaurants/${id}` class="btn btn-primary btn-sm") View Profile

mixin smallRestaurantCard(id, name, address, image_url)
    div(class="card smallCard")
        div(class="row no-gutters")
            div(class="col smallCard__img-container")
                img(class="card-img smallCard__img" src=`${image_url}` alt="Restaurant Image")
            div(class="col")
                div(class="card-body smallCard__body")
                    p(class="card-title smallCard__title")= name
                    div(class="card-details-list mediumCard__details")
                        p(class="card-text card-detail")= address 
        a(href=`/restaurants/${id}` class="btn btn-primary btn-sm") View

mixin largeReviewCard(userPic, rating, userName, content, userId)
    div(class="card" style="width: 500px")
        div(class="row no-gutters")
            div(class="col-sm-5")
                img(class="card-img smallCard__img" src=`${userPic}` alt="User Image")
            div(class="col-sm-7")
                div(class="card-body")
                    div(class="mainReviewCard__rating")
                    div(id=`rating-img-${rating}`)
                    h5(class="card-title")= userName
                    p= content
                    a(href=`/users/${userId}` class="btn btn-primary stretched-link") View Profile

mixin userReviewCard(restaurantPic, rating, restaurantName, price, address, phone, content, restaurantId)
    div(class="card" style="width: 500px")
        div(class="row no-gutters")
            div(class="col-sm-5")
                img(class="card-img smallCard__img" src=`${restaurantPic}` alt="User Image")
            div(class="col-sm-7")
                div(class="card-body")
                    div(class="mainReviewCard__rating")
                    div(id=`rating-img-${rating}`)
                    h5(class="card-title")= restaurantName
                    div(class='reviewCard__price small text-secondary')= price
                    div(class="reviewCard__address small text-secondary") #{address}, Chicago, IL
                    div(class="reviewCard__cityState  small text-secondary")= phone
                    p(class="reviewCard__content")= content
                    a(href=`/restaurants/${restaurantId}` class="btn btn-primary stretched-link") View Restaurant Page
