extends layout.pug

block content
    div(class="banner")
        img(class="banner_logo" src="/images/welpedLogo.jpg" alt="")
        div(class="banner_writeareview") Edit a Review
    div(class="restaurantGuidelines")
        div(class="restaurantName")=`${review.Restaurant.name}`
        div(class="guidelines") Read our review guidelines
    form(id="reviewForm" action=`/restaurants/${review.Restaurant.id}/reviews/${review.id}` method='post' enctype="multipart/form-data")
        div(class="reviewBox")
            input(type="number" name="rating" value=rating )
            input(class="reviewContent" name="content" type="textarea" value=content)
        div(class="headers")
            div(class="photoHeader") Attach Photo
            div(class="photoHeader2") Optional
            input(type="file" class="file" name="upl")
            input(id="userId" name="userId" type='text' hidden value)
            input(type='hidden' name='_csrf' value=token)
        button(type="submit" class="submitButton") Post Review
    script(type="module" src="/js/review-form.js")

