include navbar

include includes/cards.pug

block content
    div(class="restaurantPhotoBar")
        img(src=restaurant.image_url)

        //- div(class="auto-resize-square col")
        //-     img(src=restaurant.image_url)
        //- div(class="col")
        //-     img(src="")
        //- div(class="col")
        //-     img(src="")
        //- div(class="col")
        //-     img(src="")
        //-     button(class="restaurantPhotoBar__seeAllBtn btn btn-light") See All
    div(class="restaurantBody container")
        div(class="row")
            div(class="col-lg-8")
                div(class="restaurantCard")
                    div(class="restaurantCard__name row" id='restaurantCard')=restaurant.name
                    div(class="restaurantCard__rating row")
                        div(class="mainReviewCard__rating")
                            div(class="restaurantCard__rating-stars" id=`rating-img-${reviewAvg}`)
                        button(class="btn btn-light btn-sm")=restaurant.Keywords
                    div(class="restaurantCard__info row")
                        label(class="restaurantCard__info-price")=restaurant.price
                        label(class="restaurantCard__info-category") Category
                        if reviews.length === 1
                            label(class="restaurantCard__rating-reviewCount") 1 review
                        else 
                            label(class="restaurantCard__rating-reviewCount") #{reviews.length} reviews
                    div(class="restaurantCard__buttons row")
                        button(type="button" value=restaurant.id class="btn btn-danger" id="review") Write a Review
                        button(type="button" class="btn btn-outline-secondary" id="addPhoto") 
                            i(class="fa fa-camera") 
                            span Add Photo
                        button(type="button" class="btn btn-outline-secondary")
                            i(class="fa fa-share-square-o")
                            span Share
                        button(type="button" class="btn btn-outline-warning" id="favoriteButton") 
                            i(class="fa fa-star-o" class="favoriteStar")
                            span Favorite
                            div(class="errors-container" style="position: absolute")
                hr(class="my-4")
                div(class="restaurantCard__address")
                    label=restaurant.address
                div(class="restaurantSubCard") 
                    div(class="restaurantSubCard__body row")
                        div(class="restaurantSubCard__body-left")
                            div(class="restaurantSubCard__body-map" id='map')
                        div(class="restaurantSubCard__body-right")
                            div(class="restaurantSubCard__hoursBox")
                div(class="restaurantReviews container")
                    for review in reviews
                        if review.photos !== "https://welp-app-s3.s3.us-east-2.amazonaws.com/familyEating.jpg"
                            +largeReviewCard(review.photos, review.rating, review.User.firstName, review.content, review.userId)
                        else
                            +largeReviewCard(review.User.profilePicture, review.rating, review.User.firstName, review.content, review.userId)
                div(id="restaurantId" hidden)=`${restaurantId}`
            div(class="restaurantInfoBar col-sm-4")
                div(class="restaurantInfoBar__main")
                    div(class="restaurantInfoBar__main-head")
                        div(class="restaurantInfoBar__main-phoneNumber")
                            i(class="fa fa-phone")
                            span=restaurant.phone
                        hr(class="my-4")
                        div(class="restaurantInfoBar__main-address")
                            i(class="fa fa-location-arrow")
                            span=restaurant.address
                    div(class="restaurantInfoBar__subbody")
                        div(class="restaurantInfoBar__subbody-titles")
                            h4 You Might Also Consider
                            div(class="restaurantInfoBar__subbody-sponsor row")
                                h5 Sponsored 
                                i(class="fa fa-info-circle")
                        div(class="restaurantInfoBar__subbody-miniCard")
                            div(class="row")
                                img(class="restaurantInfoBar__subbody-miniCard-pic" src="")
                                div(class="restaurantInfoBar__subbody-miniCard-details")
                                    for restaurant in otherRestaurants
                                        div(class="bottomSplashContainer__main-item")
                                            +smallRestaurantCard(
                                                restaurant.id, 
                                                restaurant.name, 
                                                restaurant.address, 
                                                restaurant.image_url
                                            )
    include footer.pug

    script(type="module" src="/js/map.js")
    script(type="module" src="/js/favorite.js")
    script(type="module" src="/js/restaurant-profile-page.js")

