include navbar.pug

block content
    div(class="basicUserInfo")
        div()
            img(class="basicUserInfo__profilePic" src=`${user.profilePicture}` alt="profile picture")
        div
            div(class="basicUserInfo__name")= `${user.firstName} ${user.lastName}`
            div(class="basicUserInfo__location")=`${user.city}, ${user.state}`
        div
            a(class="basicUserInfo__links" href=`/users/${user.id}/settings`) Update your profile
div(class="sidebarAndReviews")
    div(class="leftSideBar")
        p=`${user.firstName}'s Profile `
    div(class="displayReviews")
        h2 Reviews
        for review in reviews
            div(class='reviewCard')
                div(class="restaruantInfo")
                    img(class="reviewCard__picture" src=`${review.photos}`)
                div()
                    a(href=`/restaurants/${review.Restaurant.id}`)=review.Restaurant.name
                    div(class='reviewCard__price')=review.Restaurant.price
                    div(class="reviewCard__address")=review.Restaurant.address
                    div(class="reviewCard__cityState") Chicago, IL
            div(class="reviewCard__reviewcontent")=review.content
