include navbar.pug

block content
    div
        p top content space
        div
            p image
        div
            p block of user info
            p= `${user.firstName} ${user.lastName}`
            p= `${user.city} ${user.state}`
        div
            p links
    div 
        p sidebar
    div
        p review contents
    div 
        for review in reviews
            p= review.content  
    div 
        p user info sidebar
    div
        p footer
    
    div: a(href=`/users/${user.id}/settings`) Settings
    div
        form(action=`/users/${user.id}` method="POST") 
            input(type="hidden" name="_csrf" value=token)
            button(type="submit") Delete User