include navbar.pug
include includes/cards.pug

block content
    div(class="basicUserInfo")
        div()
            img(class="basicUserInfo__profilePic" src=`${user.profilePicture}` alt="profile picture")
        div
            div(class="basicUserInfo__name")= `${user.firstName} ${user.lastName}`
            div(class="basicUserInfo__location")=`${user.city}, ${user.state}`
        div
            a(class="basicUserInfo__links" href=`/users/${user.id}/settings`) Update your profile
div(class="sidebarAndReviews")
    div(class="leftSideBar")
        p=`${user.firstName}'s Profile `
    div(class="displayReviews")
        a(href=`/users/${user.id}/favorites`) #{user.firstName}'s Favorite Restaurants
        h2 Reviews
        for review in reviews
            +userReviewCard(review.Restaurant.image_url, review.rating, review.Restaurant.name, review.Restaurant.price, review.Restaurant.address, review.Restaurant.phone, review.content, review.restaurantId,review.id,review.User.id )

script(type="module" src="/js/user-profile-page.js")
