include navbar.pug

block content
    div
        p top content space
        div
            img(src=`${user.profilePicture}`, alt="profile picture")
        div
            p block of user info
            p= `${user.firstName} ${user.lastName}`
            p= `${user.city} ${user.state}`
        div
            p links
    div 
        p sidebar
    div
        p review contents
    div 
        for review in reviews
            p= review.content  
    div 
        p user info sidebar
    div
        p footer

    div